.c-counter-menu-filterbar {
	margin: 16px 0 0 0;
	padding: 0 32px;
	display: flex;
	justify-content: space-between;

	> div {
		height: 64px;
		display: flex;
		align-items: center;
	}

	svg {
		color: rgba(0, 0, 0, 0.54);
		margin: 0 12px 0 0;
	}

	.MuiChip-root {
		margin: 0 8px 0 0;
	}
}

.listmenus {
	display: grid;
	grid-template-columns: repeat(auto-fill, 316px /* 300px + 16px */);
	grid-row-gap: 16px;
	justify-items: center;
	justify-content: center;
	margin: 16px 0 0 0;
}
