.sidebar {
	min-height: calc(100vh - 48px);
	width: 15vw;
	min-width: 170px;
	max-width: 200px;
	padding: 24px 16px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	/*
	.bread {
		position: relative;
		height: 48px;
		margin: 0 0 12px 0;

		svg {
			position: absolute;
			width: 24px;
			height: 24px;
			padding: 12px;
			z-index: 2;

			text-align: center;
			color: #EEEEEE;
			background-color: #1a1a1a;
			border-radius: 50%;
		}

		h1 {
			position: absolute;
			top: calc(1em - 12px);
			left: 24px;
			padding: 12px 0 12px 36px;
			width: calc(100% - 60px);
			height: calc(100% - 2em);
			z-index: 1;

			color: #FFFFFF;
			background-color: #5a5a5a;
			border-radius: 0 999px 999px 10px;
		}
	}

	.clock {
		width: 100%;
		height: 100px;
		margin: 0 0 12px 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		background-color: #371e1e;
		color: #FFFFFF;
		border-radius: 18px;

		h1 {
			font-size: 30px;
		}

		h2 {
			margin: 8px 0 0 0;
			font-size: 12px;
		}
	}
	*/
	.header {
		display: flex;
		flex-direction: column;
	}

	.user {
		align-self: center;

		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 0 0 16px;

		.MuiAvatar-root {
			width: 60px;
			height: 60px;
		}

		button {
			width: 30px;
			height: 30px;
		}
	}

	.new {
		margin-top: 48px;

		button {
			width: 100%;
			height: 48px;

			font-size: 18px;
			text-transform: uppercase;
			color: #ffffff;
			border-radius: 24px;
			box-shadow: 0px 4px 8px 0px rgba(56, 128, 254, 0.24);

			transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
			transition-duration: 0.5s;

			&:hover {
				transform: translateY(-3px);
				box-shadow: 0px 6px 12px 0px rgba(56, 128, 254, 0.24);
			}
		}
	}

	.menu {
		position: relative;
		margin: 48px 0 0 0;

		display: flex;
		flex-direction: column;

		> div {
			position: absolute;
			width: 6px;
			height: 32px;
			border-radius: 3px;

			transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
			transition-duration: 0.5s;
		}

		a {
			position: relative;
			height: 48px;
			padding: 0 24px;
			margin: 8px 0;

			display: flex;
			align-items: center;

			text-decoration: none;
			color: #7b7a7b;

			transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
			transition-duration: 0.8s;

			&.active {
				color: #3d3d3d;

				div {
					opacity: 0.5;
				}
			}

			&:hover {
				color: #3d3d3d;

				div {
					opacity: 1;
				}
			}

			div {
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(90deg, rgba(127, 127, 127, 0.2), #11111100);
				border-radius: 8px 0 0 8px;
				opacity: 0;

				transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
				transition-duration: 0.8s;
			}

			svg {
				height: 1.5em;
				width: 1.5em;
				padding: 0 24px 0 0;
			}
		}
	}

	.footer {
		button {
			width: 100%;
			margin: 0 0 8px 0;

			svg {
				margin: 0 6px 0 0;
			}
		}

		p {
			text-align: center;
			font-size: 12px;
			font-weight: 300;
			line-height: 1.4;
		}
	}
}
